{% extends 'base.html.twig' %}

{% form_theme form with ['bootstrap_4_layout.html.twig'] %}

	{% block title %}Modification du mot de passe{% endblock %}



		{% block body %}

			<div class="container">
				<h1>Modification du mot de passe</h1>

				{{ form_start(form) }}

				{{ form_row(form.oldPassword,{'label':"Votre ancien mdp",'attr':{'placeholder':"Entre votre mdp"}}) }}
				{{ form_row(form.newPassword,{'label':"Votre nouveau mdp"}) }}
				{{ form_row(form.confirmPassword,{'label':"Confirmation du mdp"}) }}
		
					<button type="submit" class="btn btn-success" >Modification du mot de passe</button>

				{{ form_end(form) }}


			</div>
		{% endblock %}





 