{% extends 'base.html.twig' %}

{% form_theme form with ['bootstrap_4_layout.html.twig',_self] %}

	{% block title %}Modification d'une annonce{% endblock %}



		{% block body %}

			<div class="container">
				<h1>Modification de {{ ad.title }}</h1>

				{{ form_start(form) }}

				{{ form_row(form.title,{'label':"Titre de l'annonce",'attr':{'placeholder':"Titre de l'annonce",'title':'Titre avec un minimum de 10 caractères et au maximum 50 caractères'}}) }}
				{{ form_row(form.slug,{'label':"Url Personnalisée"}) }}
				{{ form_row(form.introduction,{'label':"Résumé"}) }}
				{{ form_row(form.content,{'label':"Description"}) }}
				{{ form_row(form.coverImage,{'label':"Image de l'annonce"}) }}
				{{ form_row(form.rooms,{'label':"Nombre de chambres"}) }}
				{{ form_row(form.price,{'label':"Prix / nuit"}) }}


				{{ form_row(form.images) }}
				<button type="button" id="add_image" class="btn btn-success" >Ajouter une image</button><br><br>
				<button type="submit" class="btn btn-success" >Enregistrer l'annonce </button>

				{{ form_end(form) }}


			</div>
		{% endblock %}


		{% block _annonce_images_entry_row %}

			<div class="row" id="{{id}}">
				<div class="col">
					{{ form_row(form.url,{'label':false,'attr':{'placeholder':"Url de l'image"}}) }}
				</div>
				<div class="col">
					{{ form_row(form.caption,{'label':false,'attr':{'placeholder':"légende de l'image"}}) }}
				</div>
				<div class="col-2">
					<button type="button" class="btn btn-danger del_image" data-block="{{id}}">X</button>
				</div>
			</div>

		{% endblock %}


 {% block javascripts %}

<script type="text/javascript">
	
	// variable globale
	// nbrs d'entrée images
var counter ={{ form.images | length }};

$("#add_image").click(function(){



// on récupère le prototype 
var tmpl = $("#annonce_images").data("prototype"); 

//console.log(tmpl);

// on remplace _name_ par la valeur du counter
tmpl = tmpl.replace(/__name__/g,counter);


//console.log(counter);
 counter=counter +1;
//console.log(tmpl);

// on ajoute le prototype modifié à la fin du div d'id annonce.images
$("#annonce_images").append(tmpl);


deleteBlock();

})


function deleteBlock(){

$(".del_image").click(function(){

var bloc = $(this).data("block");

$("#"+bloc).remove();


})


}

deleteBlock();

</script>



 {% endblock %}